apiVersion: apps/v1
kind: Deployment
metadata:
  name: appsvc-deployment
  labels:
    app: appsvc
spec:
  replicas: 2
  selector:
    matchLabels:
      app: appsvc
  template:
    metadata:
      labels:
        app: appsvc
    spec:
      containers:
      - name: nginx
        image: <aws_account_id>.dkr.ecr.<region>.amazonaws.com/appsvc:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
